.group:after {
  content: '';
  display: block;
  clear: both;
}
body {
  background: #F4F3F3;
}
.isotope {
  margin: 40px auto;
  min-height: 425px;
}
.item {
  display: block;
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 33.333%;
  min-height: 300px;
}
.item a {
  display: block;
  margin: 20px auto;
  width: 80%;
  max-width: 428px;
  background: white;
  border: 1px solid #d0d0d0;
}
.item img {
  width: 100%;
}
.item .type {
  display: block;
  color: #023C4D;
  margin: 10px 20px;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.item .title {
  display: block;
  color: #65666A;
  margin: 10px 20px;
  font-size: 1.3em;
}
#filters.active button {
  background: #023C4D;
  color: white;
}
#filters button {
  width: 33.333%;
  height: 50px;
  background: none;
  border: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
#filters button.is-checked {
  background: #023C4D;
  color: white;
}
#filters button div {
  display: table;
}
#filters button div div {
  display: table-cell;
  vertical-align: middle;
}
.subgroup {
  text-align: center;
  max-width: 800px;
  margin: auto;
}
.subgroup button {
  width: 33.333%;
  background: none;
  border: none;
  font-size: 1.4em;
  padding: 10px;
}
.subgroup button.is-checked {
  border-bottom: 5px solid #8782BB;
}
#typedescription {
  background: #023C4D;
  color: white;
  padding: 20px;
  text-align: right;
  overflow:hidden;
}
#typedescription * {
  text-align: left;
}
#typedescription a {
  color: lightGray;
  text-decoration: none;
}
#typedescription p, #typedescription ul {
  width:100%;
  padding-left: 3.5%
}
.type .readmore {
    background-color: white;
    color: #023C4D;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-transform: uppercase;
    white-space: nowrap;
}
.navbar-brand {
  padding: 0;
  height: auto;
  width: 500px;
}
.navbar-brand img {
  width: 100%;
  margin: 0;
  max-width: 500px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
}
.navbar-toggle{
  margin-right: 0;
  margin-top: 25px;
  margin-left: 5px;
}
form.navbar-form, .nav.navbar-nav {
    margin-top: 25px;
    border: none;
}
.contain {
  text-align: center;
}
.loadmore, .loadmoresearch {
  background: #023C4D;
  color: white;
  margin-bottom: 40px;
  transition: all .3s;
}
.loadmore:hover, .loadmore:active, .loadmore:focus, .loadmoresearch:hover, .loadmoresearch:active, .loadmoresearch:focus {
  color: white;
  box-shadow: 2px 2px 5px grey;
}
.backtotop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #023C4D;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  transition: all .3s;t
}
.backtotop:hover, .backtotop:active, .backtotop:focus {
  color: white;
}
.disclaimer {
  text-align: center;
  background: white;
  padding: 40px 0;
}
.disclaimer p {
  max-width: 900px;
  padding: 20px;
  margin: auto;
}
.disclaimer button {
  background-color: #023C4D;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-transform: uppercase;
  white-space: nowrap;
}
.noninteractive {
  padding: 40px 0;
}
.noninteractive > * {
  text-align: left;
  max-width: 900px;
  padding: 10px 30px;
  margin: auto;
}
.noninteractive > h2 {
  text-align: center;
}
.noninteractive ul {
  padding-left: 2.5%;
}
.noninteractive .blockified {
  display: block;
}
.jumbotron {
  text-align: center;
  background-color: #C9CBD4;
  background-image: url("../images/gradient.png");
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
}
.jumbotron h1 {
    color: #023C4D;
    font-weight: 300;
    padding-right: 40%;
    font-size: 48px;
}
.searchcont{
  position: relative;
}
.search-box,.close-icon {
  position: relative;
}
.close-icon {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 0;
  line-height: 15px;
  text-align: center;
  border: none;
  right: 7px;
  bottom: 7px;
  overflow: visible;
  color: #023C4D;
  background-color: transparent;
}
.search-box:not(:valid) ~ .close-icon {
  display: none;
}
.searchbanner {
  font-size: 3em;
  text-align: center;
  color: #65666A;
}
.navbar {
  margin: 0;
}
.carousel {
  text-align: center;
  height:100px;
  overflow:hidden;
}
.carousel button {
  background:none;
  border:none;
  padding:0;
}
.carousel .images {
  height:115px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 8px 50px;
  background-color: #CECECE;
  box-shadow: inset 0px 0px 15px #585858;
}
.carousel button {
  margin: 5px;
  box-shadow: 2px 2px 4px;
}
.carousel button.active {
  margin:3px;
  border: 2px solid white;
}
.carousel .rightarrow, .carousel .leftarrow {
  position: absolute;
  top: 10%;
  height: 80%;
  width: 30px;
  background: white;
  color: #023C4D;
  box-shadow: 2px 2px 4px #585858;
  cursor: pointer;
}
.carousel .rightarrow {
  right: 8px;
}
.carousel .leftarrow {
  left: 8px;
}
.carousel .rightarrow span, .carousel .leftarrow span {
  line-height: 75px;
  font-size: 20px;
}
.modal-dialog {
  width: 760px;
}
.modal-body {
  padding: 0;
  background: #000;
}
.casedescription {
  padding: 15px;
  width: 100%;
  margin: 0;
  background: white;
  overflow: hidden;
}
.modal-body ul {
  list-style-type: none;
}

.casedescription li label {
  width: 7em;
}

.casedescription label:after {
  content: ':';
}

.casedescription label {
  margin: 0px;
  padding: 2px;
  display: block;
  font-weight: normal;
  width: 10em;
  float: left;
}

.casedescription label ~ span {
  margin: 0px;
  padding: 2px;
  display: block;
  overflow: hidden;
}

.currentimage {
  width: 428px;
  float: left;
  padding: 0px 15px 0px 0px;
}
.currentimagedescription {
  margin: 0px;
  padding: 15px;
  color: white;
}
@media (max-width: 1020px) {
  .navbar-header {
      width: 100%;
  }
  .nav.navbar-nav {
      margin-top: 0;
  }
}
@media (max-width: 992px) {
  .item {
    width: 50%;
  }
}
@media screen and (max-width: 860px){
  .jumbotron {
    background-image: none;
  }
  .jumbotron h1 {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .navbar-brand {
    width: calc(100% - 50px);
  }
  form.navbar-form {
      margin-top: 80px;
  }
  .modal-dialog {
    margin: 0;
    width: auto;
  }
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .currentimage {
    width: 100%;
    float: none;
    padding: 0 0 10px 0;
  }
  .imgbox {
    max-width: 500px;
    margin: auto;
  }
  .currentimagedescription {
    margin: 0;
    width: 100%;
    padding: 15px;
    clear: both;
  }
}
@media (max-width: 460px) {
  .item {
    width: 100%;
  }
  #filters button {
    font-size: 1.2em;
    width: 29%;
  }
  #filters button + button {
    width: 42%;
  }
  #filters button + button + button {
    width: 29%;
  }
}
