<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Moles, Dysplastic Nevi & Melanoma</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,700" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='css/bootstrap.css'>
  <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div class="app" ng-app="myApp" ng-controller="myCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand tool" href="#" id="brand" ng-click="tool()">
            <img alt="" src="http://dceg.cancer.gov/publishedcontent/images/images/DCEG-logo.svg" />
          </a>
          <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <form class="navbar-form navbar-right">
            <div class="searchcont">
              <form>
                <input class="form-control search-box" id="search"  type="text" name="focus" required ng-change="searchingfunc()" ng-model="search" placeholder="Search"  />
                <button class="close-icon" type="reset" ng-click="clearsearch()"><span class="glyphicon glyphicon-remove"></span></button>
              </form>
            </div>
          </form>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" ng-click="home=true; searching=false; ulinks=false;">Home</a></li>
            <li><a href="#" ng-click="tool()" class="tool">Recognition Tool</a></li>
            <li><a href="#" ng-click="ulinks=true">Useful Links</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
      <h1>Moles, Dysplastic Nevi & Melanoma</h1>
    </div>
    <div class="contain">
      <div class="button-group" id="filters" ng-class="{active:searching || home || ulinks}">
        <button class="button" data-filter="{{filter.type}}" filters-dir="" ng-click="updatecurrenttype(filter)" ng-repeat="filter in filters">{{filter.name}}</button>
      </div>
      <div class="type" ng-if="!searching && !home && !ulinks">
        <div id="typedescription">
          <p class="previewdescription" ng-if="!showfull" ng-bind-html="currenttype.descriptionpreview"></p>
          <p class="fulldescription" ng-if="showfull" ng-bind-html="currenttype.description"></p>
          <button class="readmore" ng-click="showfull=!showfull">{{showfull ? 'Show Less' : 'Read More' }}</button>
        </div>
        <div class="subgroup button-group" ng-if="currenttype.subgroups">
          <button class="button" data-filter="{{subgroup.type}}" ng-repeat="subgroup in currenttype.subgroups" subgroup-dir="true">{{subgroup.name}}</button>
        </div>
      </div>
      <h3 class="searchbanner" ng-if="searching">SEARCH RESULTS</h3>
      <div class="isotope" ng-if="!home && !ulinks">
        <div class="item {{case.type}} {{case.subgroup}}" ng-repeat="case in cases">
          <a data-target="#myModal" data-toggle="modal" href="#" ng-click="update(case)">
            <img alt="" src=".{{case.images[0].image}}" />
            <span class="type" ng-if="searching">{{case.typeSearch}}</span>
            <span class="title">{{case.name}}</span>
          </a>
          <div class="sr-only">{{case.description}}</div>
        </div>
      </div>
      <button class="loadmore btn btn-large" >Load More</button>
      <button class="loadmoresearch btn btn-large" ng-if="!home && !ulinks" style="display:none;">Load More</button>
    </div>
    <div id="usful-links" ng-if="ulinks">
      <h2>Useful Links</h2>
            <p><a href="http://dcmf.ca/" target="_new">Dear 16-year-old Me</a> <br>
              A promotional video courtesy of the David Cornfield Melanoma Fund.<br>
            </p>
            <p><a href="http://www.fda.gov/ForConsumers/ConsumerUpdates/ucm309136.htm?source=govdelivery" target="_new">Sunscreen on Infants? Not Usually—Shade is Best<br>
              </a>It’s best not to use sunscreen on infants under age 6 months. An FDA pediatrician tells how to protect babies from dangerous ultraviolet rays.<br>
            </p>
            <p><a href="http://www.fda.gov/ForConsumers/ConsumerUpdates/ucm049090.htm?source=govdelivery" target="_new">Sun Safety: Save Your Skin!</a><br>
              Summer is coming, and it's a great time for fun in the sun for you and your family. But it also leaves you vulnerable to dangerous ultraviolet radiation. The National Council on Skin Cancer Prevention has designated May 25, 2012 as "Don't Fry Day." FDA is helping to spread the word on sun safety.<a href="www.youtube.com/watch?v=Tp9ch77C56Q." target="_new"> </a></p>
            <p><a href="http://www.cancer.gov/cancertopics/factsheet/Risk/moles" target="_new">Common Moles, Dysplastic Nevi, and Risk of Melanoma<br>
            </a>National Cancer Institute fact sheet on common moles, dysplastic nevi and melanoma </p>
            <p><a href="http://www.cancer.gov/melanomarisktool/" target="_new">Melanoma Risk Assessment Tool<br>
            </a>An interactive tool designed by scientists at the National Cancer Institute (NCI), the University of Pennsylvania, and the University of California, San Francisco, to estimate a person's absolute risk of developing invasive melanoma. The tool helps clinicians identify individuals at increased risk of melanoma in order to plan appropriate screening interventions with them.</p>
            <p><a href="http://www.cancer.gov/cancertopics/types/melanoma" target="_new">NCI Melanoma Home Page<br>
          </a>National Cancer Institute homepage for Melanoma</p>
            <p><a href="http://www.skinsight.com/info/for_professionals/skin-cancer-detection-informed/skin-cancer-education" target="_new">INFORMED Skin Cancer Education Series</a><br>
          The INFORMED (INternet curriculum FOR Melanoma Early Detection) program was developed to provide a Web-based early detection training program available for widespread use that is grounded in the realities of primary care delivery, and which includes a deep image database. INFORMED is transforming melanoma education by engaging the learner. In addition, the INFORMED program provides training in dermoscopy (epiluminescence microscopy), which has been proven to increase diagnostic accuracy during the skin examination.</p>
          <p><a href="https://www.youtube.com/watch?v=o9BqrSAHbTc" target="_new">How the Sun Sees You<br>
          </a>If you're not already wearing sunscreen regularly, here's something to  convince you. Photographer Thomas Leveritt modified his camera to record  people in the ultraviolet spectrum, which highlights freckles and sun  damage unnoticeable to the naked eye. He captured strangers'  shocked reactions at viewing their faces in a way they never had before.  Leveritt also asked his subjects to apply sunscreen to show how under the  camera's filter, the white lotion shows up like black war paint.</p>
          <p><strong>Publications</strong></p>
          <p>Tucker MA, Fraser MC, Goldstein AM, et al. <a href="http://www.ncbi.nlm.nih.gov/pubmed/12115352" target="_new">Melanomas and Dysplastic Nevi: A natural history atlas</a>. Cancer. 2002 Jun 15;94(12):3192-209.</p>
          <p>Tucker MA, Halpern A, Holly EA, et al. <a href="http://www.ncbi.nlm.nih.gov/pubmed/9145715" target="_new">Clinically recognized dysplastic nevi: a central risk factor for cutaneous melanoma</a>. JAMA: The Journal of the American Medical Association 1997; 277(18):1439–1444.</p>
    </div>
    <div class="disclaimer">
      <h2>Disclaimer</h2>
      <p>The photographs of the moles and melanomas used in this collection were taken over a 35-year period. Thus, there may be variations in color among the pictures due to the differences in: photography equipment, supplies and methods used (e.g. types
        of cameras and color film, development and processing of film, use of digital photography when it became available); lighting in the many clinic rooms in which the pictures were taken; and skin color of the individual (e.g. whether or not his
        or her skin was sunburned or suntanned) at the time each of the pictures were taken. We have attempted, to the extent that we can, to standarize the pictures in each series without modifying the natural features of the lesions. To address the
        variations in relative size of the lesions, a ruler is included in each picture. When comparing the pictures within each of the cases series, it is important to use the rulers. In some series, the rulers in some pictures may be in different locations
        because of where the rulers were placed on the skin when each picture was taken.</p>
    </div>
    <footer>
      <ul class="sitelinks">
        <li><a href="">US Department of Health and Human Services</a></li>
        <li><a href="">National Institutes of Health</a></li>
        <li><a href="">National Cancer Instsitute</a></li>
        <li><a href="">USA.gov</a></li>
      </ul>
      <span class="copyright">NIH... Turning Discovey into Health&reg;</span>
    </footer>
    <button class="backtotop">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </button>
    <div aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">{{currentcase.title}}</h4>
          </div>
          <div class="modal-body group">
            <p class="casedescription" ng-bind-html="currentcase.description"></p>
            <div class="carousel">
              <div class="leftarrow" ng-click="scrollLeft()" ng-if="arrows">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </div>
              <div class="rightarrow" ng-click="scrollRight()" ng-if="arrows">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </div>
              <div class="images">
                <img carousel-dir="" ng-click="updatecurrentimg($index)" ng-repeat="image in currentcase.images" src=".{{image.thumbnail}}" />
              </div>
            </div>
            <div class="imgbox">
              <img alt="" class="currentimage" image-on-load="" src=".{{currentcase.images[currentimg].image}}" />
            </div>
            <p class="currentimagedescription" ng-bind-html="currentcase.images[currentimg].description"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='./data.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-sanitize.min.js"></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>

  <script src="js/index.js"></script>
</body>
</html>