<div class="modal-header">
    <h1 class="modal-title">Disclaimer</h1>
</div>
<div class="modal-body">
    <ul>
        <li>The pictures used in this tool were taken over more than a 35-year period. They show moles and melanomas from participants enrolled in the <a href="https://clinicaltrials.gov/show/NCT00040352" target="_blank" rel="noopener noreferrer">NCI Familial Melanoma Study</a>. </li>
        <li>The pictures show examples of the variability in pigmented lesions in U.S. melanoma-prone families.</li>
        <li>Because most of the study participants are Caucasian, the nevi and melanomas shown are not representative of those found in individuals with darker skin.</li>
        <li>Melanomas and lesions suspicious for melanoma vary widely in appearance; these pictures should not be used to diagnose melanoma.</li>
        <li>NCI does not provide medical advice to users of its website.</li>
        <li>Consult with a qualified health care provider if you have concerns about your skin.</li>
    </ul>
    <h2>About the photos</h2>
    <ul>
        <li>The photographs have variations in color due to differences in photography equipment, lighting, and skin color of the individual (e.g. sunburned or suntanned).</li>
        <li>Photographs are standardized to ease viewing. </li>
        <li>Rulers show size of the moles and melanomas in millimeters.</li>
    </ul>
</div>