<div 
    class="modal-header"
    ng-init="params = (
        c.search 
            ? 'search=' + c.search 
            : 'filter=' + c.filter.type + '&subgrouptype=' + c.subgroup.type
    ) + '&limit=' + c.showImageLimit
      + '&info=' + (c.showMoreInformation ? 1 : 0)">
    <h5 class="modal-title" id="image-modal-title"> {{ c.case.title }} </h5>
    <a ng-href="#!/view-cases?{{params}}" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body p-0" id="image-modal-body">
    <div class="p-3">
        <p  define-terms ng-compile-html="c.case.description"></p>
        <p>"ABCDE" features:</p>
        <ul class="pl-4">
            <li><strong define-terms>Asymmetry</strong> - <span define-terms ng-compile-html="c.case.abcde.asymmetry"></span></li>
            <li><strong define-terms>Border</strong> - <span define-terms ng-compile-html="c.case.abcde.border"></span></li>
            <li><strong define-terms>Color</strong> - <span define-terms ng-compile-html="c.case.abcde.color"></span></li>
            <li><strong define-terms>Diameter</strong> - <span define-terms ng-compile-html="c.case.abcde.diameter"></span></li>
            <li><strong define-terms>Evolving</strong> - <span define-terms ng-compile-html="c.case.abcde.evolving"></span></li>
        </ul>
        <strong>
            <span define-terms ng-compile-html="c.case.diagnosis.type | titleCase"></span> 
            <span define-terms>Diagnosis: </span>
        </strong>
        <span define-terms ng-compile-html="c.case.diagnosis.result"></span>
    </div>
    <div class="p-3 text-center bg-secondary-light">
        <a  class="d-inline-block"
            ng-repeat="image in c.case.images" 
            ng-href="#!/view-cases?{{params}}&case={{c.caseIndex}}&img={{$index}}">
            <img 
                ng-src="{{image.thumbnail}}" 
                height="65"
                class="m-2 shadow-lg object-cover" 
                ng-class="{'outline-white-1': $index == c.imgIndex}"
                alt="Thumbnail for {{ c.case.title }}, Image {{ $index + 1 }}" 
                no-context-menu />
        </a>
        
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 p-0">
                <img 
                    class="w-100 h-100 object-cover" 
                    ng-src="{{c.case.images[c.imgIndex].image}}"
                    alt="{{ c.case.title }}, Image {{ +c.imgIndex + 1 }}"
                    no-context-menu />
            </div>
            <div class="col-xl-6 p-3 bg-dark text-light" define-terms ng-compile-html="c.case.description"></div>
        </div>
    </div>
</div>
